## A simple notebook to test some functions

#### Activation functions: sigmoid and ReLU

Sigmoid and its derivative

In [1]:
import numpy as np

def sigmoid(x):

    s = 1/(1 + np.exp(-x))

    return s

def derivative_sigmoid(s):

    ds = s*(1-s)

    return ds

w = [1,2]
x = [2,4]
b = 3
z = np.dot(w,x) + b
a = sigmoid(z)
da = derivative_sigmoid(a)
print(a,da)

0.999997739675702 2.260319188887599e-06

ReLU and its derivative

In [ ]:
def relu(x):
    return x * (x > 0)

def derivative_relu(x):
    return 1 * (x>0)

Now let's implement the softmax function

In [ ]:
def softmax(vector):
    e = np.exp(vector)
    return e / e.sum()

In [ ]:
def derivative_softmax(vector):

In [3]:
import pandas as pd

df = pd.read_csv('Loan.csv')
df

,ApplicationDate,Age,AnnualIncome,CreditScore,EmploymentStatus,EducationLevel,Experience,LoanAmount,LoanDuration,MaritalStatus,...,MonthlyIncome,UtilityBillsPaymentHistory,JobTenure,NetWorth,BaseInterestRate,InterestRate,MonthlyLoanPayment,TotalDebtToIncomeRatio,LoanApproved,RiskScore
0,2018-01-01,45,39948,617,Employed,Master,22,13152,48,Married,...,3329.000000,0.724972,11,126928,0.199652,0.227590,419.805992,0.181077,0,49.0
1,2018-01-02,38,39709,628,Employed,Associate,15,26045,48,Single,...,3309.083333,0.935132,3,43609,0.207045,0.201077,794.054238,0.389852,0,52.0
2,2018-01-03,47,40724,570,Employed,Bachelor,26,17627,36,Married,...,3393.666667,0.872241,6,5205,0.217627,0.212548,666.406688,0.462157,0,52.0
3,2018-01-04,58,69084,545,Employed,High School,34,37898,96,Single,...,5757.000000,0.896155,5,99452,0.300398,0.300911,1047.506980,0.313098,0,54.0
4,2018-01-05,37,103264,594,Employed,Associate,17,9184,36,Married,...,8605.333333,0.941369,5,227019,0.197184,0.175990,330.179140,0.070210,1,36.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,2072-09-29,44,30180,587,Employed,High School,19,24521,36,Married,...,2515.000000,0.826217,1,55327,0.216021,0.195574,905.767712,0.627741,0,55.0
19996,2072-09-30,56,49246,567,Employed,Associate,33,25818,36,Married,...,4103.833333,0.816618,3,64002,0.227318,0.199168,958.395633,0.334418,0,54.0
19997,2072-10-01,44,48958,645,Employed,Bachelor,20,37033,72,Married,...,4079.833333,0.887216,3,103663,0.229533,0.226766,945.427454,0.357227,0,45.0
19998,2072-10-02,60,41025,560,Employed,High School,36,14760,72,Married,...,3418.750000,0.843787,5,10600,0.249760,0.264873,411.168284,0.408678,0,59.0
19999,2072-10-03,20,53227,574,Employed,Associate,0,32055,48,Married,...,4435.583333,0.853801,5,41372,0.240055,0.242693,1049.830407,0.298006,0,59.0

In [6]:
df[df['LoanApproved'] == 0 ].count()

ApplicationDate               15220
Age                           15220
AnnualIncome                  15220
CreditScore                   15220
EmploymentStatus              15220
EducationLevel                15220
Experience                    15220
LoanAmount                    15220
LoanDuration                  15220
MaritalStatus                 15220
NumberOfDependents            15220
HomeOwnershipStatus           15220
MonthlyDebtPayments           15220
CreditCardUtilizationRate     15220
NumberOfOpenCreditLines       15220
NumberOfCreditInquiries       15220
DebtToIncomeRatio             15220
BankruptcyHistory             15220
LoanPurpose                   15220
PreviousLoanDefaults          15220
PaymentHistory                15220
LengthOfCreditHistory         15220
SavingsAccountBalance         15220
CheckingAccountBalance        15220
TotalAssets                   15220
TotalLiabilities              15220
MonthlyIncome                 15220
UtilityBillsPaymentHistory    15220
JobTenure                     15220
NetWorth                      15220
BaseInterestRate              15220
InterestRate                  15220
MonthlyLoanPayment            15220
TotalDebtToIncomeRatio        15220
LoanApproved                  15220
RiskScore                     15220
dtype: int64

### Implement a fully parametrizable neural network class

In [7]:
import pandas as pd
from sklearn.datasets import load_iris
iris = load_iris(as_frame=True)
data = pd.DataFrame(iris.data, columns=iris.feature_names)
data['species'] = iris.target
data

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [8]:
from sklearn.model_selection import train_test_split
X = iris.data
y = iris.target
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=0.2,random_state=42)

X_train

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
22                 4.6               3.6                1.0               0.2
15                 5.7               4.4                1.5               0.4
65                 6.7               3.1                4.4               1.4
11                 4.8               3.4                1.6               0.2
42                 4.4               3.2                1.3               0.2
..                 ...               ...                ...               ...
71                 6.1               2.8                4.0               1.3
106                4.9               2.5                4.5               1.7
14                 5.8               4.0                1.2               0.2
92                 5.8               2.6                4.0               1.2
102                7.1               3.0                5.9               2.1

[120 rows x 4 columns]

In [ ]:
from sklearn.model_selection import train_test_split
X = iris.data
y = iris.target
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=0.2,random_state=42)

# just 4 samples
X = np.array(X_train)

# target values 
y = np.array(y_train).T

# Weight initialization
w1 = 2*np.random.random((3,4)) - 1 
w2 = 2*np.random.random((4,1)) -1 

class NeuralNetwork:

    #hidden layer (sigmoid, relu)
    #output layer (sigmoid, softmax)

    def __init__(self,layers, activation_function, no_of_input_nodes, no_of_hidden_nodes, no_of_output_nodes, n_epochs):
        self.hidden_layers = layers
        self.activation_function = activation_function
        self.no_of_input_nodes = no_of_input_nodes # as many as the dataset's features
        self.no_of_hidden_nodes = no_of_hidden_nodes # no fixed number, needs tuning
        self.no_of_output_nodes = no_of_output_nodes # as many as the output classes
        self.n_epochs = n_epochs

    def weights_and_bias(self, no_of_input_nodes, no_of_hidden_nodes, no_of_output_nodes):
        layers = [no_of_input_nodes] + no_of_hidden_nodes + [no_of_output_nodes] #e.g. [2,3,5,2]
        weights = [] #TODO: weight and bias proper initialization (xavier)
        biases = []
        for i in range(len((layers))-1):

            n_in = layers[i]
            n_out = layers[i+1]

            weights.append(2*np.random.random((n_in,n_out)) - 1)
            biases.append(np.zeros((1, n_out)))

        

    def forward_pass_hidden_layer(self,activation_function):

        for layer in range(self.hidden_layers):

            if layer == 0:
                #input_size = layer_input.shape[1]
                layer_input = X_train
            #else:
                #input_size = self.no_of_hidden_nodes

            w[layer] = 2*np.random.random((3,4)) - 1 #TODO: weight initialization
            b = np.zeros((1, self.no_of_hidden_nodes))
            z = np.dot(layer_input, w) + b

            if activation_function =='sigmoid':
                a = sigmoid(z)
            elif activation_function =='relu':
                a = relu(z)

            layer_input = a


        for j in range(self.n_epochs):

            for i in range(self.)

    def forward_pass_output_layer(self):

    forward_pass_hidden_layer(activation_function='sigmoid')
    forward_pass_output_layer(self)
    backward_pass_hidden_layer(self)
    backward_pass_output_layer(self)

In [24]:
no_of_input_nodes = 2
no_of_hidden_nodes = [3,4]
no_of_output_nodes = 3

layers = [no_of_input_nodes] + no_of_hidden_nodes + [no_of_output_nodes] 
layers

[2, 3, 4, 3]